html, body {
  height: 100%;
  margin: 0;
}

#root {
  display: flex;
  width: 100%;
  height: 100%;
}

.app {
  display: flex;
  padding: 2rem;
  width: 100%;
  flex-direction: row;
  align-items: center;
  justify-content: center;
}
